body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.header-topline {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-title-studio {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.logo-title-go {
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.navigation-link-go {

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-go:hover,
.navigation-link-go:focus {
  color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-go.current {
  color: #404bbf;
  position: relative;
}

.navigation-link-go.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.address-list {
  font-style: normal;
}

.address-contact {
  font-family: "Roboto", sans-serif;
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-contact:hover,
.address-contact:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
  max-width: 1440px;
  background-repeat: no-repeat;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.section-one-heading {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-one-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

.button-text {
  color: #ffffff;
  font-weight: 500px;
  font-size: 16px;
}


.advantages-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-heading {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-employee-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.our-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-item-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-title-footer {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.logo-title-studio-footer {
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #f4f4fd;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Робота з розміщенням елементів*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Header*/

.header-topline {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-list {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link-go {
  padding: 24px 0;
  display: block;
}

.logo-title {
  padding: 24px 0;
  margin-right: 76px;
}

.address-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  margin-left: auto;
}

.address-contact {
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Section 1 Heading*/

.section-one-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-one-heading {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.section-one-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.button-text {
  padding: 16px 32px;
}

/*Section 2 Our Advantages*/

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: auto;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-heading {
  margin-bottom: 8px;
}

.advantages-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

/*Section 3 Our Team*/

/*.icon-list {
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}*/

.icon-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.our-team-heading {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.our-team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-list-info-container {
  padding: 32px 0;
  text-align: center;
  gap: 24px;
}

.our-team-employee-name {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-employee-job-title {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-link:hover,
.our-team-link:focus {
  background-color: #404bbf;
}

.our-team-icon {
  fill: #f4f4fd;
}

/*Section 4 Our Portfolio*/

.our-portfolio-heading {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-item {

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
}

.our-portfolio-list-item:hover,
.our-portfolio-list-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-item:hover .overlay-text,
.our-portfolio-list-item:focus .overlay-text {
  transform: translateY(0);
}

.our-portfolio-img {
  position: relative;
  overflow: hidden;
}

.our-portfolio-img:hover .overlay-text {
  transform: translateY(0);
}

.our-portfolio-item {
  margin-bottom: 8px;
}

.item-container {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;

}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  font-size: 16px;
}

/*Footer*/

.footer {
  padding: 100px 0;
}

.footer-information {
  display: flex;
  align-items: baseline;
}

.container-footer {
  margin-right: 120px;
}

.logo-title-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.icons-list-footer {
  display: flex;
  gap: 16px;
}

.social-media-container {
  margin: 0 auto;

}

.media-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

}

.icon-footer-item {
  width: 40px;
  height: 40px;
}

.icon-footer-item:hover {
  fill: #31D0AA;
}

.icon-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

/*STYLE FOOTER*/

.subscribe-c {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscribe-container {
  gap: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-txt {
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 1.5;
}

.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input:placeholder-shown {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-btn {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}



.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal Window */

.modal-window {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
}

.modal-window.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  padding: 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}


.close-btn {
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .icon-close,
.close-btn:focus .icon-close {
  fill: #ffffff;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover .icon-close {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  font-size: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.input-label {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.icon-modal {
  position: absolute;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.modal-input:focus .icon-modal {
  fill: #4d5ae5;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus+.icon-modal {
  fill: #4d5ae5;
}

.modal-input:focus,
.modal-input:active {
  border-color: #4D5AE5;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.input-label:focus-within .icon-modal {
  fill: #4d5ae5;
}

.modal-input-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea:focus,
.modal-input-textarea:active {
  border-color: #4D5AE5;
}

.modal-input-textarea .placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-link {
  line-height: 1.33;
  color: #4d5ae5;
}

.modal-btn {
  border: none;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/*CHECKBOX*/

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}

.input-label-checkbox {
  cursor: pointer;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.my-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkmark {
  fill: #fff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.original-checkbox:checked+.input-label-checkbox .checkbox-text {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.original-checkbox:checked+.input-label-checkbox .checkmark {
  opacity: 1;
}